<div class="min-h-screen flex justify-center items-center">
  <div class="bg-white shadow-2xl rounded-lg p-8 max-w-lg w-full">
    <header class="mb-4 text-center">
      <h1 class="text-4xl font-extrabold text-blue-600">Add User</h1>
      <p class="text-gray-500 mt-1">Fill in the details to create a new user</p>
    </header>

    <!-- Display success message-->
    <div
      class="fixed top-4 left-1/2 flex justify-center transform -translate-x-1/5 z-10"
    >
      @if (successMessage) {
      <div class="bg-green-500 text-white p-4 rounded-md shadow-md">
        <h3 class="text-center font-medium">
          {{ successMessage }}
        </h3>
      </div>
      }
    </div>

    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="space-y-5">
      <!-- Username Field -->
      <div>
        <label for="username" class="block text-gray-700 font-medium mb-2"
          >Username</label
        >
        <input
          type="text"
          id="username"
          name="username"
          class="w-full border rounded-lg px-4 py-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          [(ngModel)]="user.username"
          #username="ngModel"
          required
          placeholder="Enter username"
        />
        <div
          *ngIf="username.invalid && username.touched"
          class="text-red-500 mt-1 text-sm"
        >
          Username is required.
        </div>
      </div>

      <!-- Email Field -->
      <div>
        <label for="email" class="block text-gray-700 font-medium mb-2"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="w-full border rounded-lg px-4 py-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          [(ngModel)]="user.email"
          #email="ngModel"
          required
          placeholder="Enter user email"
        />
        <div
          *ngIf="email.invalid && email.touched"
          class="text-red-500 mt-1 text-sm"
        >
          <span *ngIf="email.errors?.['required']">Email is required.</span>
          <span *ngIf="email.errors?.['email']"
            >Enter a valid email address.</span
          >
        </div>
      </div>

      <!-- Status Field -->
      <div>
        <label for="status" class="block text-gray-700 font-medium mb-2"
          >Status</label
        >
        <select
          id="status"
          name="status"
          class="w-full border rounded-lg px-4 py-3 text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500"
          [(ngModel)]="user.status"
          #status="ngModel"
          required
        >
          <option disabled>Select Status</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>

      <!-- Roles Field -->
      <div>
        <label for="roles" class="block text-gray-700 font-medium mb-2"
          >Roles</label
        >
        <input
          type="text"
          id="roles"
          name="roles"
          class="w-full border rounded-lg px-4 py-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          [(ngModel)]="user.roles"
          #roles="ngModel"
          placeholder="Separate roles with commas (e.g: admin,dev)"
          required
        />
        <div
          *ngIf="roles.invalid && roles.touched"
          class="text-red-500 mt-1 text-sm"
        >
          Roles are required.
        </div>
      </div>
      <!-- Permission Field -->
      <div>
        <label for="permissions" class="block text-gray-700 font-medium mb-2"
          >Permissions</label
        >
        <input
          type="text"
          id="permissions"
          name="permissions"
          class="w-full border rounded-lg px-4 py-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          [(ngModel)]="user.permissions"
          #permissions="ngModel"
          placeholder="Separate permissions with commas (e.g: read,edit)"
          required
        />
        <div
          *ngIf="permissions.invalid && permissions.touched"
          class="text-red-500 mt-1 text-sm"
        >
          Permissions are required.
        </div>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="userForm.invalid"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 rounded-lg transition duration-300"
      >
        Save User
      </button>
    </form>
  </div>
</div>
